In [4]:
import pandas as pd
import numpy as np
import pickle

In [8]:
features = ["Andhra Pradesh","ADILABAD",2005]

In [46]:
df = pd.read_csv("F:\\Final Year Project\\Datasets\\01_District_wise_crimes_committed_IPC_2001_2012.csv")
df.drop(["CULPABLE HOMICIDE NOT AMOUNTING TO MURDER", "CUSTODIAL RAPE", "OTHER RAPE", "KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS", "KIDNAPPING AND ABDUCTION OF OTHERS", "PREPARATION AND ASSEMBLY FOR DACOITY", "BURGLARY", "AUTO THEFT", "OTHER THEFT", "CRIMINAL BREACH OF TRUST", "CHEATING", "COUNTERFIETING", "ARSON", "ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY", "INSULT TO MODESTY OF WOMEN", "CRUELTY BY HUSBAND OR HIS RELATIVES", "IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES", "CAUSING DEATH BY NEGLIGENCE", "OTHER IPC CRIMES","TOTAL IPC CRIMES","RIOTS","DOWRY DEATHS"], axis=1, inplace=True)
df = df.loc[df['DISTRICT']!='TOTAL']
df = df.loc[df['DISTRICT']!='DELHI UT TOTAL']
df.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,RAPE,KIDNAPPING & ABDUCTION,DACOITY,ROBBERY,THEFT,HURT/GREVIOUS HURT
0,ANDHRA PRADESH,ADILABAD,2001,101,60,50,46,9,41,199,1131
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,23,53,8,16,366,1543
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,27,59,4,14,723,2088
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,20,25,1,4,173,795
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,23,49,4,25,1021,1244

In [47]:
df = df.loc[df["STATE/UT"]==features[0].upper()].loc[df["DISTRICT"]==features[1]].loc[df["YEAR"]==features[2]]

In [48]:
l = df.values

In [50]:
df1 = pd.read_csv("Datasets/encoded.csv")
arr = df1.loc[df1["STATE/UT"] == features[0].upper()].loc[df1["DISTRICT"] == features[1]].values
l[0][0] = arr[0][2]
l[0][1] = arr[0][3]

In [53]:
l

array([[1, 3, 2005, 108, 48, 53, 65, 9, 20, 329, 1273]], dtype=object)

In [51]:
rap = pickle.load(open('./Prediction/kmean.pkl','rb'))

In [52]:
rap.predict(l)

array([2])

In [7]:
df = pd.read_csv("F:\\Final Year Project\\Datasets\\kmeansflask2.csv")

In [9]:
l = df.loc[df["STATE/UT"]==features[0].upper()].loc[df["DISTRICT"]==features[1]].loc[df["YEAR"]==int(features[2])].values

In [10]:
l

array([['ANDHRA PRADESH', 'ADILABAD', 2005, -1.708952121, -1.727634339,
        -0.47211392, 1.430914047, 0.139525352, 0.8151091659999999,
        0.41903290000000004, 0.190915652, -0.17430910100000002,
        -0.100395333, 1.5740924619999999]], dtype=object)

In [30]:
final_features = [x for x in l[0] if type(x) == float]

In [31]:
final_features

[-1.708952121,
 -1.727634339,
 -0.47211392,
 1.430914047,
 0.139525352,
 0.8151091659999999,
 0.41903290000000004,
 0.190915652,
 -0.17430910100000002,
 -0.100395333,
 1.5740924619999999]

In [1]:
import pandas as pd

In [2]:
ss = pd.read_csv("F:\\Final Year Project\\Datasets\\01_District_wise_crimes_committed_IPC_2001_2012.csv")
ss.drop(["CULPABLE HOMICIDE NOT AMOUNTING TO MURDER", "CUSTODIAL RAPE", "OTHER RAPE", "KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS", "KIDNAPPING AND ABDUCTION OF OTHERS", "PREPARATION AND ASSEMBLY FOR DACOITY", "BURGLARY", "AUTO THEFT", "OTHER THEFT", "CRIMINAL BREACH OF TRUST", "CHEATING", "COUNTERFIETING", "ARSON", "ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY", "INSULT TO MODESTY OF WOMEN", "CRUELTY BY HUSBAND OR HIS RELATIVES", "IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES", "CAUSING DEATH BY NEGLIGENCE", "OTHER IPC CRIMES","TOTAL IPC CRIMES","RIOTS","DOWRY DEATHS"], axis=1, inplace=True)
ss = ss.loc[ss['DISTRICT']!='TOTAL']
ss = ss.loc[ss['DISTRICT']!='DELHI UT TOTAL']